# Terraform

.terraform/

*.tfstate

*.tfstate.*

crash.log

override.tf

override.tf.json

terraform.tfvars

*.tfvars

.terraform.lock.hcl

PROGRESS_LOG.md

# Kubernetes Secrets
kubernetes/base/backend-secret.yaml